/*
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 15px;
  background: #f3f3f3;
}
h3 {
  text-align: center;
  font-weight: bold;
}
h4 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 16px;
}
img {
  border: none;
}
a {
  color: #009aad;
}
a:hover {
  color: #00c8e0;
}
* {
  box-sizing: content-box;
}
form p {
  padding-bottom: 15px;
}
#search {
  float: right;
}
#story li {
  padding-right: 45px;
}
#header {
  height: 110px;
  margin: 0;
  padding: 0;
  background: #373737;
  color: #f3f3f3;
}
#hh1 {
  font-size: 2em;
  text-align: center;
  padding-top: 0.5em;
  width: calc(100% - 170px);
  float: right;
}
#hh1 h1 {
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
}
#himg {
  text-align: center;
  float: left;
  width: 170px;
  padding-top: 1em;
}
#main {
  height: calc(100% - (130px + 30px));
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}
#footer {
  clear: both;
  height: 25px;
  margin: 0;
  padding: 1em;
  text-align: center;
  background: #373737;
  color: #f3f3f3;
}

#navigation {
  float: left;
  width: 170px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #00C8E0;
  background: #555555;
}
#navigation #line {
	background-color: #00C8E0;
	height: 100%;
	width: 2%;
	float: right;
}
#navigation #nav {
	float: left;
}
#navigation a {
  color: #f3f3f3;
  text-decoration: none;
  padding-top: 5;
  padding-bottom: 5px;
  padding-left: 10px;
  display: inline-block;
  font-size: 15px;
}
#navigation .ad {
  color: #f3f3f3;
  text-decoration: none;
  padding-top: 25;
  padding-bottom: 25px;
  padding-left: 0px;
  display: inline-block;
  font-size: 18px;
}
#navigation h4 {
	padding-left: 10px;
	font-size: 14px;
}
#navigation  ul {
	padding-left: 0px;
	list-style-type: none;
}
#navigation li a {
	padding-left: 23px;
	color: #f3f3f3;
	font-size: 15px;
	font-style: bold;
}
#navigation li a:hover {
	color: #f3f3f3;
	font-size: 15px;
	background-color: #00C8E0;
	width: 100%;
}
#navigation a:hover {
	color: #FFF;
}
#nav-item {
	width: 100%;
	padding-left: 23px;
}
#nav-item:hover {
	background-color: #00C8E0;
	width: 100%;
	padding-left: 23px;
}
#sticky {
  background: #f3f3f3;
  position: sticky;
  top: 0;
}
ul.subjects {
  margin: 1em 0;
  padding-left: 0;
  list-style: square;
}
ul.pages {
  padding-left: 2em;
  list-style: square;
  font-weight: normal;
}
.selected {
  font-weight: bold;
}

#page {
  float: left;
  overflow-x: hidden;
  width: calc(96% - 170px);
  height: 100%;
  overflow-y: auto;
  padding-left: 2em;
  padding-right: 1em;
  vertical-align: top;
  background: #f3f3f3;
}

#page h2 {
  color: #373737;
  margin-top: 1em;
  font-weight: bold;
}
#page h3 {
  color: #373737;
}
#calendar {
  width: 97%;
}
#pending {
  float: right;
  width: 44%;
  margin-top: 15px;
}
.containers{
  float: left;
  width: 54%;
}
.view-content {
  margin: 1em;
  padding: 1em;
  border: 1px solid #999;
}
div.message {
  border: 2px  solid #373737;
  color: #373737;
  font-weight: bold;
  margin: 1em 0;
  padding: 1em;
}

.error {
  color: #373737;
  border: 2px solid #373737;
  margin: 1em 0;
  padding: 1em;
}
.error ul {
  padding-left: 2em;
}
table.bordered tr th, table.bordered tr td {
  border: 1px solid #000;
}
table {
  margin-bottom: 3%;
  font-size: 1em;
}
th {
  text-align: center;
}
td {
  text-align: center;
}

@media screen and (max-device-width: 1299px) {
  table {
    font-size: 0.6em;
  }
  .containers {
    float: none;
    width: 100%;
  }
  #pending {
    float: none;
    width: 100%
  }
}
